*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y:auto;
  background-color: #141414;

  color : white;
}

img {
  max-width: 100%;
}

.main-background {
  position: absolute;
  width: 100%;
}